<h1 class="page-heading">Listings#index</h1>
<div class="row">
<div class="col-md-12">
<% if @listings.length == 0 %>
<p class="lead">No  listings found</p>
<% else %>

<table class="table table-bordered table-striped table-responsive">
	<thead>
		<tr>
			<td>Title</td>
			<td>Description</td> 

	</thead>

<% @listings.each do |listing| %>
<% end %>

<tr>
	<td><% listing.title %> </td>
	<td><% listing.description %> </td>
</tr>




</table>


<% end %>

</div>
</div>

cycki (.)(.)